@import "tailwindcss";

@theme {
}

body {
  overflow-y: scroll; /* Show vertical scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #212121;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #212121;
}

::-webkit-scrollbar-thumb {
  background-color: #4b4b4b;
  transition: all;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #646464;
}
