@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll; /* Show vertical scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #212121;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #212121;
}

::-webkit-scrollbar-thumb {
  background-color: #4b4b4b;
  transition: all;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #646464;
}

.h2-page:hover::before {
  content: "#";
  position: absolute;
  translate: -20px;
  @apply text-gray-500;
}

.list:hover::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 3px;
  top: 50%;
  translate: -20px -50%;
  border-radius: 24px;
  @apply text-gray-500 bg-gray-500;
}

/* .hashnode-content-style {
  @apply prose break-words text-slate-950 first:prose-p:mt-0 prose-img:max-w-full prose-p:leading-snug prose-a:underline hover:prose-a:bg-primary-50 dark:hover:prose-a:text-primary-500 dark:hover:prose-a:bg-neutral-800 dark:text-neutral-50 prose-blockquote:leading-snug prose-a:leading-snug prose-figure:leading-snug prose-figcaption:leading-snug prose-pre:leading-snug prose-li:leading-snug prose-ul:leading-snug prose-ol:leading-snug prose-th:leading-snug prose-td:leading-snug lg:prose-xl dark:prose-invert dark:prose-pre:bg-neutral-900 first:prose-h1:mt-0 first:prose-h2:mt-0 first:prose-h3:mt-0 first:prose-h4:mt-0 first:prose-h5:mt-0;
} */
